<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>
    <div>&copy; Sagar Portfolio</div>
    <div class="f-info-links">
      <a href="/privacy"><b>Privacy</b></a>
      <a href="/terms"><b>Terms</b></a>
    </div>
  </div>
</footer>
